
a:link {  
text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
@keyframes fadein {
  from {
        opacity:0;
    }
  to {
        opacity:1;
    }
}
.fadeinc {
animation-name: fadein; 
animation-duration: 3s;
}
@keyframes animtext {
  from {
        letter-spacing: 5px;
    }
  to {
        letter-spacing: -4px;
    }
}
.animHead {
animation-name: animtext; 
animation-duration: 5s;
}